
<h2 id='title'>Welcome to Ember.js</h2>

<ul>
  <li>{{clock.second}} seconds</li>
  <li>{{clock.minute}} minutes</li>
  <li>{{clock.five}} increments of five minutes</li>
  <li>{{clock.quarter}} increments of 15 minutes</li>
  <li>{{clock.hour}} hours</li>
</ul>

<div class="boxed">
  <p>
    Use this clock for updating displayed dates or other background work where
    you need to observe a "tick" on a second or minute frequency.
  </p>

  <button {{action 'reset'}}>Reset Clock</button>

  {{outlet}}
  <p>
    <a href="http://github.com/jerel/ember-cli-clock">Download the code</a>
  </p>
</div>
